<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <aside class="cookie-info cookie-info--hidden">
        <div class="container">
            <div class="form-group">
                <f:translate key="page.cookie.text" extensionName="HnTemplates" />
            </div>
            <button type="button" class="btn btn-primary">
                <f:translate key="page.cookie.accept" extensionName="HnTemplates" />
            </button>
        </div>
    </aside>

</html>
