@import "../../Variables";

// this stylesheet is ported from: web/typo3/sysext/fluid_styled_content/Configuration/TypoScript/Styling/setup.txt

// IMPORTANT: duplicated values from content-constants.txt

$columnSpacing: 15px;
$rowSpacing: 15px;
$borderPadding: 15px;
$borderWidth: 1px;
$maxW: 690px; // should be equal to the space available in $min-multicolumn-breakpoint
$maxWInText: 420px;

$min-multicolumn-breakpoint: $paragraph-breakpoint;

@if $maxW != $paragraph-width {
    // it'll look ugly when these 2 differ
    @error "The maxW constant and the max paragraph with are not equal. maxW: #{$maxW}, paragraph-width: #{$paragraph-width}";
    // the reason i create an error here is because if you change maxW, you'll also need to change the content-constants.txt
}

.ce-textpic::after {
    content: "";
    display: block;
    clear: both;
}

.ce-gallery {
    display: flex;
    flex-direction: column;
    margin: $rowSpacing 0;

    figure {
        display: table;
        vertical-align: top;
        margin: 0;

        figcaption {
            display: table-caption;
            caption-side: bottom;
            font-size: $font-size-sm;
            line-height: $line-height-sm;
            color: $text-muted;
        }
    }

    // automatic dimension keeping only works on some elements
    /* stylelint-disable selector-no-qualifying-type */
    img.image-embed-item,
    video.video-embed-item {
        height: auto;
    }
}

// image beside text
@include media-breakpoint-up($min-multicolumn-breakpoint) {

    .ce-below .ce-gallery {
        margin-bottom: 0;
    }

    .ce-above .ce-gallery {
        margin-top: 0;
    }

    .ce-intext .ce-gallery {
        // adjust for line height
        $line-height: $line-height-base * $font-size-base;
        margin-top: ($line-height - $font-size-base) * 0.75;
        margin-bottom: ($line-height - $font-size-base) * 0.75;
    }

    .ce-intext:not(.ce-nowrap) {
        &.ce-right .ce-gallery {
            margin-left: $columnSpacing;
            float: right;
        }

        &.ce-left .ce-gallery {
            margin-right: $columnSpacing;
            float: left;
        }
    }

    .ce-intext.ce-nowrap {
        display: flex;

        .ce-bodytext {
            flex-grow: 1;
        }

        .ce-gallery {
            $max-available-space: max($container-max-widths...) - $grid-gutter-width;
            min-width: $maxWInText / $max-available-space * 100%;
        }

        &.ce-right .ce-gallery {
            margin-left: $grid-gutter-width;
            order: 1;
        }

        &.ce-left .ce-gallery {
            margin-right: $grid-gutter-width;
            order: -1;
        }
    }
}

.ce-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: $columnSpacing / -2;
    margin-right: $columnSpacing / -2;

    .ce-center & {
        justify-content: center;
    }

    @include media-breakpoint-up($min-multicolumn-breakpoint) {
        .ce-left &,
        .ce-right.ce-intext & {
            justify-content: flex-start;
        }

        .ce-right &,
        .ce-left.ce-intext & {
            justify-content: flex-end;
        }
    }
}

.ce-column {
    display: table-cell;
    padding-left: $columnSpacing / 2;
    padding-right: $columnSpacing / 2;
    padding-bottom: $rowSpacing;

    .ce-row:last-child > & {
        padding-bottom: 0;
    }
}
