<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:variable name="frameClasses" value="frame frame-{data.frame_class}"/>
	<f:if condition="{data.space_before_class}">
		<f:variable name="frameClasses" value="{frameClasses} frame-space-before-{data.space_before_class}"/>
	</f:if>
	<f:if condition="{data.space_after_class}">
		<f:variable name="frameClasses" value="{frameClasses} frame-space-after-{data.space_after_class}"/>
	</f:if>
	<f:if condition="{frameCentered}">
		<f:variable name="frameClasses" value="{frameClasses} frame-centered"/>
	</f:if>

	<div class="{frameClasses}">
		<a id="c{data.uid}" class="anchor"></a>
		<f:if condition="{data._LOCALIZED_UID}">
			<a id="c{data._LOCALIZED_UID}" class="anchor"></a>
		</f:if>

		<f:render section="Before" optional="true">
			<f:render partial="DropIn/Before/All" arguments="{_all}" />
		</f:render>

		<f:render section="Content" optional="true">
			<div class="container">
				<f:render section="Header" optional="true">
					<f:render partial="Header/All" arguments="{_all}" />
				</f:render>
				<f:render section="Main" optional="true" />
				<f:render section="Footer" optional="true">
					<f:render partial="Footer/All" arguments="{_all}" />
				</f:render>
			</div>
		</f:render>

		<f:render section="After" optional="true">
			<f:render partial="DropIn/After/All" arguments="{_all}" />
		</f:render>
	</div>

</html>
