
// override variables here
// $brand-primary: red;

$grid-gutter-width: 30px; // BE CAREFUL WHEN CHANGING
// gutter with is reference ua. in content-constants.txt


// in the way sass works, this has to be imported last
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// these variables are based on bootstraps buildin ones and don't modify boostrap so must be defined after bootstrap
$navbar-height: $nav-link-height + $navbar-padding-y * 2;
$paragraph-breakpoint: md;
$paragraph-width: map-get($container-max-widths, $paragraph-breakpoint) - $grid-gutter-width;
