@import "Variables";

:root {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

::selection {
    $bg-color: mix($primary, $body-bg, 30%);
    background-color: $bg-color;
    color: color-yiq($bg-color);
}

.anchor {
    display: block;
    position: relative;
    top: -$navbar-height;
    visibility: hidden;
}

p {
    max-width: $paragraph-width;
}
